<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>What a Colorful Night</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/paper-full.min.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/js/hammer.min.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-hammer/angular.hammer.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="Meaniscule">
    <navbar></navbar>
    <div ui-view class="container"></div>
</body>
</html>